# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=gait

# App — must match the Postgres values above
DATABASE_URL=

#AUTH Config.py
SECRET_KEY=
HASH_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
RESEND_API_KEY=

# HiveMQ broker credentials
MQTT_BROKER=your-cluster.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_USE_TLS=true
MQTT_QOS=1

# MQTT publishing credentials for mobile app
MQTT_PUB_USERNAME=
MQTT_PUB_PASSWORD=

# kafka
KAFKA_BROKER_URL=
KAFKA_TOPIC=
KAFKA_GROUP_ID=