fastapi>=0.111,<1
uvicorn[standard]>=0.29,<1
sqlalchemy[mypy]>=2.0,<3
pydantic-settings>=2.2,<3
psycopg2-binary>=2.9,<3
asyncpg>=0.29.0
greenlet>=2.0,<4
alembic>=1.13,<2
python-multipart>=0.0.9,<1
pyjwt>=2.10,<3.0
bcrypt==4.0.1

#ML worker
numpy>=1.26,<3
pandas>=2.2,<3
scipy>=1.11,<2
scikit-learn>=1.4,<2
aiokafka>=0.10,<1

# MQTT-to-Redis ingestion bridge
aiomqtt>=2.3,<3

#test
paho-mqtt>=2.0,<3